html, body {
  height: 100%;
  margin: 0;
  overflow: scroll;
  color: black;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1.5em;
}

ul {
  list-style: none;
}
li {
  /*border: 1px solid red;*/
  display: inline-block;
}

#container{
  width: 95%;
  min-width: 940px;
  height: 100%;
  text-align: center;
  float: left;
  margin-left: 10px;
  /*
  border: 1px solid red;
  */
}

#banner{
  color: white;
  padding: 5px 10px;
  float:left;
  width:100%;
  height: 75px;
  background-color: black;
  overflow-y:scroll;
}

.trimmed{

  background-color: Gainsboro;
  border-radius: 35px 5px;
  border: 1px solid dimGrey;
}

#banner h1{

  /*display: inline-block;*/
  margin: 10px 0 5px 0;
}

#banner .GuildData{
  border: 2px solid white;
  padding: 0 3px;
  font-weight: bold;
  display:inline-block;
  font-size: 12pt;

  border-radius: 5px;
  margin:0;

}

#banner .selected{
  border: 2px solid black;
  font-weight: bold;
  display:inline-block;
  color: black;
  background-color: white;
}

#toonSelector{
  float: left;
  margin:0px;
  color:white;
  overflow: auto; 
  overflow-y: scroll;
  height: 168px;
  text-align: center;
  /*

  */

}
#toonSelector .level{
  display:none;
}
#toonSelector .zetas{
  display:none;
}

.hiddenData{
  display:none;
}
.builder{
  padding: 0 5% 0 5%;
  height: 84px;
  width: 90%;
}
.builder li{
  margin:10px;
  /*
  display: inline-block;

  */
}
#teamBuilder{
  margin:0;
  float:  left;
  text-align: center;
  min-width: 450px;
  /*
  width:84px;
  height: 400px;
  */
  padding: 10px;
  color: white;
  overflow-y: hidden;
  margin:10px 30px;

}
#teamBuilder .toonProfile{
  margin: 0 15px;
}
.teaming{
  float: left;
  margin:0;
  overflow-y: scroll;
  min-width: 450px;
  width: 45%;
  height: 90%;
  text-align: left;
  padding: 10px;
  color: white;
  /*
  border: 1px solid blue;

  */

}
#guildTeams{
  /*height: 90%;
  */
}
.builder .toonProfile{
  margin: 0px;
  border: 2px solid transparent;/**/

}
.toonProfile{
  margin: 13px 10px 10px 10px;
  width: 64px;
  height: 64px;
  border-radius: 30px;
  /*
  border: 1px solid red;
  */
  position: relative;
}
.toonProfile .inuse{
  width: 50%;
  height: 50%;
  opacity: .8;
  border-radius: 0px;
  -webkit-transform: translate(50%, 35%);
  transform: translate(50%, 35%);

}
.placeholder{
  border: 2px dashed grey !important;
}
.toonProfile img{
  margin: 0px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.locked{
  /*background: center 0 transparent url('../images/locked.png') no-repeat;*/
  opacity: .5;
}

.locked .lock{

  width: 50%;
  height: 50%;
  bottom: -5px;

  border-radius: 0px;
  -webkit-transform: translate(50%);
  transform: translate(50%);
}

.playerData{
  margin: 0px;
  padding: 0px;
  /*
  background-color: lightgrey;
  border-radius: 15px;
  */
}
#container .placeholder{
  height: 125px;

}
.playerData li{
  display: inline-block;
}

.playerData .playerBanner{
  width: 90%;
  margin-left: 5%;
  border: 1px solid lightgrey;
  border-radius: 15px;
  background-color: darkgrey;
  /*

  */
}
.dragndrop{
  cursor:grab;
}
.dragndrop:active{
  cursor:grabbing;
}
.playerBanner h1{
  display: inline;
  color: black;
  margin: 0;
  font-size: 11pt;
  padding: 0 5px;
}
.playerData .TotalPower{
  float:right;
}
.teaming img{
 position: absolute;/* */
}
.playerData .playerToon{
  z-index: 0;
}
.playerData .playerGear{
  z-index: 1;
  /*
  width: 101%;
  height: 101%;
  */
}
.playerData .totalPower{
  float: right;
}
.playerData .closeTeam {
  border-radius: 25px;
  width: 25px;
  height:25px;
  background-color: maroon;
  font-size: 16pt;
  color:white;
  float:right;
  text-align: center;
  cursor:pointer;

}
.toonProfile .level{
  font-size: 11pt;

  -webkit-transform: translate(-50%);
  transform: translate(-50%);

  color: #fff;
  background-color: #264257;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 100%/130% 130% 15px 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, 2px 2px 0 black, -1px 2px 0 black, 2px 3px 0 black, 1px 3px 0 black, 2px 3px 0 black;
  position: absolute;

  bottom: -5px;
  left: 50%;
  z-index: 4;
  width: 20px;
  height: 20px;
  padding: 0 5px;

  line-height: 1.5;
}

.playerData .star {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 15px;
  height: 46px;
  color: #000;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  background: center 0 transparent url('./images/star.png') no-repeat;
  background-size: 100%;
}
.playerData .star1 {
    -webkit-transform: translateX(-50%) rotate(-0);
    transform: translateX(-50%) rotate(-60deg);
}
.playerData .star2 {
    -webkit-transform: translateX(-50%) rotate(-40deg);
    transform: translateX(-50%) rotate(-40deg);
}
.playerData .star3 {
    -webkit-transform: translateX(-50%) rotate(-20deg);
    transform: translateX(-50%) rotate(-20deg);
}
.playerData .star4 {
    -webkit-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
}
.playerData .star5 {
    -webkit-transform: translateX(-50%) rotate(20deg);
    transform: translateX(-50%) rotate(20deg);
}
.playerData .star6 {
    -webkit-transform: translateX(-50%) rotate(40deg);
    transform: translateX(-50%) rotate(40deg);
}
.playerData .star7 {
    -webkit-transform: translateX(-50%) rotate(60deg);
    transform: translateX(-50%) rotate(60deg);
}
.playerData .star-inactive {
    background-image: url('./images/star-inactive.png');
}
.zetas{
  background: center 0 transparent url(./images/zeta.png) no-repeat;
  background-size: cover;
  bottom: 0;
  left: -25%;
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 3;
  text-align: center;
  font-size: 10pt;
  line-height: 2.5em;
  color: white;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, 2px 2px 0 black, -1px 2px 0 black, 2px 3px 0 black, 1px 3px 0 black, 2px 3px 0 black;
}
.phaseBuilder{
  position: relative;
  z-index: 2;
  overflow-y: none;
  display:block;
}

.phaseBuilder .phaseBanner{
  background-color: LightSteelBlue;
  padding: 3px;
  text-align: center;
  color: black;
}
.phaseBuilder .phaseBanner label{
 /*border: 1px solid black;*/
 padding: 5px;
}
.phaseBuilder .phaseBanner div{
  display:inline-block;
  font-weight: bold;
}
.phaseBuilder .phaseBanner h1{
  width: 100%; 
  height: 5%;
  font-size: 16pt;
  z-index: 1;
  /*
  background-color: white;

  */
}
.phaseBuilder .phaseTeams{
  margin-top: 5px;
  height: auto;
  min-height: 75%;
  background-color: darkgrey;
  border: 1px solid dimgrey;
  overflow-y: scroll;
  border-radius: 5px;
}
#credits{
  font-size:11pt;
  padding: 5px;
  display: inline-block;
  width:100%;
  /*float:right;*/
}
.filtering{
  padding: 3px;
  text-align: center;
  width:100%;
  height: 2em;
  background-color: lightgrey;
  float:left;
  border: 2px solid black;
  border-left: 0;
  border-right: 0;

}
